* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  padding: 0.5em;
}

div.display {
  border: 2px solid black;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  font-size: 24px;
  text-align: right;
  padding: 8px;
}

div.numbers-container {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 0 auto;
  gap: 12px;
  flex-wrap: wrap;
  width: 400px;
  border: 2px solid red;
  margin-top: 12px;
}

div.numbers-container button {
  font-size: 32px;
  width: 80px;
  height: 80px;
  border-radius: 6px;
  flex: 80px;
}